.tooltip {
  position: relative;
  display: inline-block;
}

.ord-tooltip {
  cursor: default;
  border-color: #26292a;
  border-bottom-style: dotted;
  border-bottom-width: 2px;
}

.tooltip-boks {
  position: fixed;
  transform: translate(-50%, calc(-100% - 0.5rem));
  width: max-content;
  max-width: 16rem;
  background-color: #383249;
  color: white;
  font-size: 22px;
  line-height: 1.3;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  z-index: 100;
  pointer-events: none;
}

.tooltip-boks::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.4rem;
  border-style: solid;
  border-color: #383249 transparent transparent transparent;
}
