.hint-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.hint-button-container {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 1rem 0;
}

.pod-status-table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
  background-color: #5d5877;
  color: white;

  th,
  td {
    text-align: left;
    padding: 0.5rem 1rem;
    border: none;
    white-space: nowrap;
  }

  th {
    font-weight: bold;
  }
}
