.team-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;

  .team-input-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 0.5rem;
  }

  .teamname-button {
    width: 100%;
    padding: 0 1rem;
  }
}

.team-output-container {
  display: flex;
  flex-direction: column;

  p {
    margin: 1rem 0;
  }

  .output-container {
    border: 2px solid #383249;
    border-radius: 4px;
    overflow: hidden;
    margin: 1rem 0;

    .output-container__header {
      display: flex;
      justify-content: flex-end;
      padding: 0.25rem 0.5rem;
      background-color: #383249;
    }

    .output-container pre {
      padding: 1rem;
      background-color: #f5f0e8;
      word-break: break-all;
      white-space: pre-wrap;
      max-width: 100%;
      box-sizing: border-box;
    }

    pre {
      overflow-y: auto;
      height: 20rem;
    }

    .copy-button {
      font-size: 26px;
      padding: 0.2rem 0.75rem;
      border: 2px solid white;
      height: 2.5rem;
      /*    fikse horisontal align på kopier-knappen*/
    }
  }
}
